.circle{
    width: 100px;
    height: 100px;
    border-radius:50px;
    font-size:20px;
    color:#33ff39 ;
    line-height:100px;
    text-align: center;
    background:#33ff39

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}